# Portfolio

##About Me

<img src="https://avatars.githubusercontent.com/u/53331046?v=4" style="width: 10%; height: auto;">



tf-backend-prod

tf-frontend-prod

tf-infra-prod


## Projects

| Repository | Webpage | GitHub |
|------------|---------|--------|

---

Daniel Suzuki 2025 
