# Portfolio

##About Me

<img stc="https://avatars.githubusercontent.com/u/53331046?v=4"> style="width: 10%; height: auto;">

Hi, I'm Daniel Suzuki. Check out my repos!

%(for repo_key, repo_value in repos ~)
repo_key | [Webpage] repo_value.pages-url | [Github] (repo_value.http_clone_url)
%( endfor ~)


## Projects

| Repository | Webpage | GitHub |
|------------|---------|--------|

---

Daniel Suzuki 2025 
